@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

*{
    box-sizing: border-box;

}

body{

    background-color: hsl(204, 43%, 93%);
    font-family: 'Karla',sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    margin: 0;
    height: 100vh;
}

main{

    background-color: white;
    min-width: 600px;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
}

section{
    padding: 35px;
}
.Intro-Para{
    line-height: 1.6;
    color: grey;
}

.dark-green{
    background-color: hsl(179, 62%, 43%);
    color: white;
    border-bottom-left-radius: 10 px;
    
}

.yellow-green{

    background-color: hsl(179,47%,52%);
    color:white;
    border-bottom-right-radius: 10px;

}

.row{
    display: flex;

}


.dollar{
    font-size: 30px;
    line-height: 0;
}

h1{
    color: hsl(179,47%,52%);
    font-weight: 1000;
}

h3{
    color:hsl(71, 73%, 54%);
}

h4{
font-weight: 700;
font-size: large;
}

p{
    line-height: 1.5;
}

button{
    font-family: 'Karla',sans-serif;
    font-weight: 700;
    width: 100%;
    height: 19%;
    background-color: hsl(71, 73%, 54%);
    border-radius: 5px;
    margin: 20px 0 0 0;
    border: none;
    color: white;
    box-shadow:  0 5px 10px 10px rgba(0,0,0,0.05);}

span{
    font-size: 16px;
    text-align: center;
}




.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

