@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

*{
    box-sizing: border-box;

}

body{

    background-color: hsl(204, 43%, 93%);
    font-family: 'Karla',sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main{

    background-color: white;
    max-width: 650px;
    height: auto;
    margin: auto;
    border-radius: 8px;
    box-shadow:  0 5px 10px 10px rgba(0,0,0,0.05);
    overflow: hidden;
}

section{
    padding: 15px;
}

.Intro-Para{
    line-height: 1.5;
    color: grey;
    opacity: 0.8;
}
.white{
    padding: 26px 35px 21px;
}
.dark-green{

    background-color: hsl(179, 62%, 43%);
    color: white;
    border-bottom-left-radius: 10 px;
    padding: 27px 40px 21px;
    
}

.yellow-green{

    background-color: hsl(179, 62%, 43%);
    color:white;
    border-bottom-right-radius: 10px;
    padding: 27px 40px;
    opacity: 0.8;

}

.row{
    display: flex;
}

.row > section{
    flex: 1;
}

.dollar{
    font-size: 30px;
    line-height: 0; 

}

h1{
    color: hsl(179,47%,52%);
    font-weight: 1000;
}

h3{
    color:hsl(71, 73%, 54%);
    line-height: 0;
    margin-top: 30px;
}

h4{
font-weight: 700;
font-size: large;
}

p{
    line-height: 1.5;
}

button{
    font-family: 'Karla',sans-serif;
    font-weight: 700;
    font-size: 15px;
    width: 100%;
    height: 20%;
    background-color: hsl(71, 73%, 54%);
    border-radius: 5px;
    margin: 0 0 15px 0;
    border: none;
    color: white;
    box-shadow:  0 5px 10px 10px rgba(0,0,0,0.05);}

button:hover{
    cursor: pointer;
}
span{
    font-size: 16px;
    text-align: center;
    opacity: 0.6;
}

ul{
    padding: 0px;
    
}
li{

    padding: 0;
    list-style: none;
    line-height: 1.4;
    opacity: 0.8;
    
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

